p{
    width: 300px;
    border-top: black solid 20px;
    border-bottom: red dotted 20px;
    border-right: blue double 20px;
    border-left: green groove 20px;

    border-top-width: 10px;
    border-right-width: 30px;
    border-bottom-width: 20px;
    border-left-width: 20px;

    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;

    border-top-color: black;
    border-right-color: blue;
    border-bottom-color: red;
    border-left-color: green;
    
    

}