div.div{
    border:1px black  solid;
    background-color: tomato;
    width: 200px;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
   
    /*line-height: 200px;*/
}

ol,ul,li{
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

ol{
    display: table;
    width: 300px;
    margin-top: 10px;
}

ul{
    display: table-row;
}

li{
    display: table-cell;
    text-align: center;
}

.titulo{
    background-color: turquoise;
}