table,td,th{
    border: 1px solid black;
}

table{
    width: 600px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 50px 10px;
    empty-cells: hide;
}

td,th{
    height: 30px;
    vertical-align: middle;
    text-align: center;
}

th{
    background-color: #8a8;
    color: #fff;
    font-size: 25px;
}

.zebra{
    background-color: #ddd;
}

tr:nth-child(even){
    background-color: #ddd;
}


p:nth-child(odd){
    background-color: #ddd;
}

